.web-footer,
.navbar {
    display: none !important;
}
    

.clickable-row {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 columns of equal width */
    gap: 5px 45px; 
}

.form-group {
    display: flex;
    flex-direction: column; /* Ensures labels and inputs stack properly */
}

.is-invalid {
    border-color: red;
}

.is-invalid:focus {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

#teamSuggestions option {
    background-color: #f0f0f0;
    width: 200px;
    height: 30px;
}