.web-footer,
.navbar {
    display: none !important;
}
    

.clickable-row {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 columns of equal width */
    gap: 5px 45px; 
}

.form-group {
    display: flex;
    flex-direction: column; /* Ensures labels and inputs stack properly */
}

    